In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
import os
import h5py
import scipy.io

In [40]:
# Working with Directories
import os
wd = os.getcwd()
os.listdir(wd)
os.listdir(wd)[-1]

'Intro to Importing Data.ipynb'

In [9]:
# # Basic Functions
# filename = "Sample.csv"
# file = open(filename, mode = 'r')   # mode = 'w' is for writnig
# text = file.read()
# file.close()
# print(file.closed)      # Check whether file is closed

# # Another model:
# with open('Sample.txt', 'r') as file1:
#     print(file1.readline())
#     print(file1.readline())
    
    
# # This mode does not need closing

In [24]:
# # Importing Data with Numpy
# filename = 'numbers.txt'
# data1 = np.loadtxt(filename,delimiter=',')      # Tab delimiter: '\t'
# data2 = np.loadtxt(filename, delimiter=',', skiprows=1)  # skiprow will skip the first row
# data3 = np.loadtxt(filename, delimiter=',', usecols=[0,2])  # just first and third columns
# data4 = np.loadtxt(filename, delimiter=',', dtype=str)  # convert data into strings

# # Accessing rows and columns of structured arrays is super-intuitive: 
# # to get the ith row, merely execute data[i] and to get the column with name 'Fare', execute data['Fare'].

# data5 = np.recfromcsv('numbers.csv')
# print(type(data5))

<class 'numpy.recarray'>

In [ ]:
# # Example, Reshape function
# file = 'digits.csv'
# digits = np.loadtxt(file, delimiter=',')
# print(type(digits))
# im = digits[21, 1:]
# im_sq = np.reshape(im, (28, 28))
# plt.imshow(im_sq, cmap='Greys', interpolation='nearest')
# plt.show()

# #Example 2
# file = 'seaslug.txt'
# data = np.loadtxt(file, delimiter='\t', dtype=str)
# print(np.shape(data))
# data_float = np.loadtxt(file, delimiter='\t', dtype='float', skiprows=1)

# # Print the 10th element of data_float
# print(data_float[9])

# plt.scatter(data_float[:, 0], data_float[:, 1])
# plt.xlabel('time (min.)');  plt.ylabel('percentage of larvae'); plt.show()

In [31]:
# # Pandas, Advantage: work with different data types
# # .value convert a dataframe type to numpy array
# filename = 'Sample.csv'
# data = pd.read_csv(filename, nrows=2)       # First two rows
# data_array = data.values
# # more complete version:
# data = pd.read_csv(file, sep='\t', comment='#', na_values="Nothing")

In [32]:
# # Example
# file = 'titanic_corrupt.txt'
# data = pd.read_csv(file, sep='\t', comment='#', na_values="Nothing")
# pd.DataFrame.hist(data[['Age']])
# plt.xlabel('Age (years)');  plt.ylabel('count');    plt.show()

In [41]:
# # Other file Types
# # Pickles are native to python. There are many datatypes that are not obvious how to store them.
# # They are serialized, means converting objects to bytestream
# import pickle
# with open ('pickled_fruit.pkl', 'rb') as file:  # rb: read binary
#     data = pickle.load(file)
# print(data)

# # Excel Files
# file = 'numbers.xlsx'
# data = pd.ExcelFile(file)
# print(data.sheet_names)
# df1 = data.parse('numbers')     # sheet name as a script
# df2 = data.parse(0)             # sheet index as a int

# # more complete form of parsing:
# df2 = xls.parse(1, usecols=[0], skiprows=[0], names=['Country'])

In [ ]:
# # Example
# # Parse the first sheet and rename the columns: df1
# df1 = xls.parse(0, skiprows=[0], names=['Country','AAM due to War (2002)'])

# # Parse the first column of the second sheet and rename the column: df2
# df2 = xls.parse(1, usecols=[0], skiprows=[0], names=['Country'])

In [43]:
# # Importing SAS, Stata files
# # for SAS files

# from sas7bdat import SAS7BDAT
# with SAS7BDAT('file.sas7bdat') as file:
#     df_sas = file.to_data_frame()
    
# # for Stata files:
# data = pd.read_stata('file.dta')

In [42]:
# # Example of SAS
# with SAS7BDAT('sales.sas7bdat') as file:
#     df_sas = file.to_data_frame()

# pd.DataFrame.hist(df_sas[['P']])
# plt.ylabel('count')
# plt.show()

# # Example of Stata
# df = pd.read_stata('disarea.dta')

# pd.DataFrame.hist(df[['disa10']])
# plt.xlabel('Extent of disease')
# plt.ylabel('Number of countries')
# plt.show()

In [46]:
# # Importing hdf5: Hierarchical Data Format 5
# # for storing large data sets (hundreds of gigabytes)
# import h5py
# filename = 'file.hdf5'
# data = h5py.File(filename,'r')
# print(type(data))

# for key in data.keys():
#     print(key)              # Suppose the outputs are [meta, quality, strain]

# print(type(data['meta']))

# for key in data['meta'].keys():
#     print(keys)             # suppose the outputs are [Description, Detection, Duration]

# print(np.array(data['meta']['Description']), np.array(data['meta']['Detection']))

In [ ]:
# # Example 

# file = 'LIGO_data.hdf5'
# data = h5py.File(file, 'r')
# for key in data.keys():
#     print(key)

# group = data['strain']

# for key in group.keys():
#     print(key)
    
# strain = np.array(data['strain']['Strain'])
# num_samples = 10000

# # Set time vector
# time = np.arange(0, 1, 1/num_samples)

# # Plot data
# plt.plot(time, strain[:num_samples])
# plt.xlabel('GPS Time (s)')
# plt.ylabel('strain')
# plt.show()

In [ ]:
# # Importing Matlab files
# # .mat files
# import scipy.io
# filename = 'file.mat'
# mat = scipy.io.loadmat(filename)    
# print(type(mat))                    # The mat is a dictionary
# print(mat.keys())                   # Suppose the output is [x, y, z, ...]
# print(type(mat['x']))               # The type can be a nparray

In [ ]:
# # Example
# mat = scipy.io.loadmat('albeck_gene_expression.mat')    
# print(type(mat))
# print(mat.keys())
# print(type(mat['CYratioCyt']))
# print(np.shape(mat['CYratioCyt']))

# # Subset the array and plot it
# data = mat['CYratioCyt'][25, 5:]
# fig = plt.figure()
# plt.plot(data)
# plt.xlabel('time (min.)')
# plt.ylabel('normalized fluorescence (measure of expression)')
# plt.show()

In [58]:
# # Relational Database Tables, where tables are linked 
# # There are 13 rules that a database should adhere to to be considered relational.
# # Each row or record in a table represents an instance of an entity type.
# # Each column in a table represents an attribute or feature of an instance.
# # Every table contains a primary key column, which has a unique entry for each row.
# # There are relations between tables.
# # Most common systems: PostgredSQL, MySQL, and SQL (Structured Query Language)
# # Now
# # Crearing a database engine in python:
# # SQLite database: Fast and simple
# # SQLAlchemy: work with many relational database management systems
# # The steps for SQL querying: 1)import packages and functions 2)create a database engine 3)connect to the engine
# # 4)Query the database 5)save the result to a Dataframe  6)close the connection

# from sqlalchemy import create_engine 
# engine = create_engine('sqlite:///Northwind.sqlite')
# table_names = engine.table_names()
# print(table_names)

# con = engine.connect()
# rs = con.execute("SELECT * FROM Orders")
# df = pd.DataFrame(rs.fetchall())
# df.columns = rs.keys()
# con.close()

# # Same Task with the Context Manager format:
# from sqlalchemy import create_engine 
# engine = create_engine('sqlite:///Northwind.sqlite')
# with engine.connect() as con:
#     rs = con.execute("SELECT OrderID, Shipname FROM Orders")
#     df = pd.DataFrame(rs.fetchmany(size = 5))   # This line will convert 5 rows instead of all rows
#     df.columns = rs.keys()

In [57]:
# # Example
# # Here, you're going to fire up your very first SQL engine. 
# # You'll create an engine to connect to the SQLite database 'Chinook.sqlite', which is in your working directory. 

# from sqlalchemy import create_engine 
# engine = create_engine('sqlite:///Chinook.sqlite')
# table_names = engine.table_names()
# print(table_names)

# con = engine.connect()
# rs = con.execute("SELECT * FROM Album")
# df = pd.DataFrame(rs.fetchall())
# con.close()
# print(df.head())

# # Example 2
# engine = create_engine('sqlite:///Chinook.sqlite')

# # Open engine in context manager
# with engine.connect() as con:
#     rs = con.execute("SELECT * FROM Employee WHERE EmployeeId >= 6")        # Setting some conditions
#     # rs = con.execute("SELECT * FROM Employee ORDER BY BirthDate")         # If we want to sort data by a specific column
#     df = pd.DataFrame(rs.fetchall())
#     df.columns = rs.keys()
# print(df.head())

In [ ]:
# # Instead of codes above:
# engine = create_engine('sqlite:///Northwind.sqlite')
# df = pd.read_sql_query('SELECT * FROM Orders', engine)
# # more inputs:
# # df = pd.read_sql_query('SELECT * FROM Employee WHERE EmployeeId >= 6 ORDER BY BirthDate', engine)

In [ ]:
# # Some Advanced Techniques with Relational Tables
# # Inner Join:
# engine = create_engine('sqlite:///Northwind.sqlite')
# df = pd.read_sql_query('SELECT Orders, CompanyName FROM Orders INNER JOIN Customers on Orders.CustomerID = Customers.CustomerID', engine)
# # It is very similar to inner join of pandas

In [59]:
# # Example1
# engine = create_engine('sqlite:///Chinook.sqlite')

# # select all the records, extracting the Title of the record and Name of the artist of each record 
# # from the Album table and the Artist table, respectively. 
# # To do so, INNER JOIN these two tables on the ArtistID column of both.

# with engine.connect() as con:
#     rs = con.execute("SELECT Title, Name FROM Album INNER JOIN Artist on Album.ArtistID = Artist.ArtistID")    
#     df = pd.DataFrame(rs.fetchall())
#     df.columns = rs.keys()
    
# print(df.head())

# # Example 2
# df = pd.read_sql_query(
#     "SELECT * FROM PlaylistTrack INNER JOIN Track ON PlaylistTrack.TrackId = Track.TrackId WHERE Milliseconds < 250000",
#     engine
# )

# print(df.head())